
.footer {
    background: $accent-color;
    color: $footer-font-color;
    font-size: 14pt;
}

.footer a {
    color: $link-color;
    font-size: 14pt;
}

.footer a:hover {
    color: $hover-color;
}

.footer p {
    margin: 0;
    padding: 3em 0;
}

.footer .social {
    float: right;
    justify-content: space-between;
    padding: 1.5em 0 1.5em 1em;
    font-size: 2rem;
}
