.landingpage {
    display: grid;
    gap: 2em 3em;
    padding: 0.5em 3em;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.analysis {
    display: column;
    gap: 6em 6em;
    padding: 1em 25em;
}

.analysis h1 {
    justify-self: center;
}

.kmom-box {
    border: 1px solid $border-color;
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.kmom-box.project {
    grid-column: span 3;
}

.kmom-box a {
    width: 100%;
    background-color: $accent-color;
    text-align: center;
}

img {
    max-width: 50em;
}

@media (max-width: 767px) {
    .landingpage h1,
    .kmom-box,
    .kmom-box.project {
        grid-column: span 1;
    }

    img {
        max-width: 25em;
    }

    .analysis {
        padding-left: 1em;
    }
}
