@import 'common';
@import 'variables-dark';
@import 'typography';

@import 'header';
@import 'main-all';
@import 'footer';
@import 'report';
@import 'kmom';
@import 'gallery';
@import 'analysis';

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: $font-color;
}

a {
    color: $link-color;
}

.meimg {
    max-width: 60%;
    filter: grayscale(40%);
}

.html,
body {
    background-color: $main-background;
}

.header {
    background-image: '../../../assets/img/skyline_gamleby.webp';
    filter: hue-rotate(180deg);
}

.nav {
    color: $font-color;
}

.main {
    background-color: $main-background;
    color: $font-color;
}

.footer {
    background-color: $accent-color;
}

.kmom-sidenav a {
    color: $link-color;
}

.kmom-box a {
    background-color: $accent-color;
}

.meimg {
    max-width: 60%;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    .kmom-sidenav {
        display: none;
        visibility: hidden;
    }
    
    .kmom-text {
        grid-column: span 1;
        width: 100%;
    }

    .video-wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
    }

    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
