html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    color: $font-color;
}

p 
td 
th 
li 
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

a {
    color: $link-color;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

a:hover {
    color: $hover-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 0.6em;
    font-weight: bold;
    color: $font-color;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 1rem;
    font-weight: normal;
    font-style: italic;
}

img {
    max-width: 100%;
}

hr {
    border: 0.15em solid $border-color;
    border-radius: 0.3em;
    background: $border-color;
}

abbr {
    text-decoration: underline dotted;
}


